pre-commit
coverage
responses
backoff
pytest
httplib2
pytz
pydantic
humanfriendly
google-cloud-storage==3.14.1
google-cloud-bigquery
google-api-python-client
google-cloud-secret-manager
oauth2client
numpy
pandas
gspread
atlassian-python-api==4.0.7
