pre-commit
coverage
responses
backoff
pytest
httplib2
pytz
pydantic
humanfriendly
google-cloud-storage==2.17.0
google-cloud-bigquery
google-api-python-client
google-cloud-secret-manager
jira
oauth2client
numpy
pandas
gspread
